body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

nav {
  display: flex;
  justify-content: space-between;  
}

nav .info-container {
  display: flex;
  align-items: center;
}

.logo {
  height: 42px;
}

.image-container {
  height: 42px;
  width: 42px;
  border-radius: 50%;
  overflow: hidden;
}

.image-container img {
  width: 100%;
}